<%- include('header.ejs') %>
<main class="main">

    <section class="container">

        <h1>
            <i>   
                <%= code %>:
                <%= errortext %>
            </i>
        </h1>
        
    </section>
</main>

<%- include('footer.ejs') %>
